In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("pandas_01.xlsx")

In [4]:
df

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000,4.219,320031,9.00,20.0,54,54.0,8836,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420,3.934,139223,7.76,34.2,61,61.0,4010,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004,4.053,108048,8.00,8.0,-1,-1.0,5531,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000,3.889,19248,5.67,19.0,71,71.0,18393,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000,4.036,366898,5.00,33.0,85,85.0,13789,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2,3.999,21307,11.00,10.0,-10,-10.0,1,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2,4.303,693,16.00,16.0,0,0.0,0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1,3.598,378,2.72,9.0,70,70.0,0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1,3.956,1134,14.00,14.0,0,0.0,0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1,4.007,1380,11.00,30.0,64,64.0,0,NaN,NaN

## View dataframes in python using pandas

In [5]:
df.head()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000,4.219,320031,9.00,20.0,54,54.0,8836,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420,3.934,139223,7.76,34.2,61,61.0,4010,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004,4.053,108048,8.00,8.0,-1,-1.0,5531,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000,3.889,19248,5.67,19.0,71,71.0,18393,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000,4.036,366898,5.00,33.0,85,85.0,13789,NaN,NaN

In [6]:
df.tail()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
953,953,567bad8582c35f28103e5813,1,2,2,3.999,21307,11.00,10.0,-10,-10.0,1,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2,4.303,693,16.00,16.0,0,0.0,0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1,3.598,378,2.72,9.0,70,70.0,0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1,3.956,1134,14.00,14.0,0,0.0,0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1,4.007,1380,11.00,30.0,64,64.0,0,NaN,NaN

In [7]:
df.shape

(958, 14)

In [8]:
df.info

<bound method DataFrame.info of      index                merchantid  listedproducts  totalunitssold
0        0  5357bcf2bb72c5504882e889               2          120000  \
1        1  5708773c3c02161b3f8c7900               5          107100
2        2  5417aada4ad3ab27e954b76c               2          100007
3        3  570f3a713a698c14278bb51e               1          100000
4        4  53082ea15aefb07dfe1f2a4f               1          100000
..     ...                       ...             ...             ...
953    953  567bad8582c35f28103e5813               1               2
954    954  5b24edf0d1c360301099e9c6               1               2
955    955  5d417e7070327a2743021677               1               1
956    956  5add589edb5f1f32114d07df               1               1
957    957  5d4b8931933fb13f8a1fe232               1               1

     meanunitssoldperproduct  rating  merchantratingscount  meanproductprices
0                      60000   4.219                320031               9.00  \
1                      21420   3.934                139223               7.76
2                      50004   4.053                108048               8.00
3                     100000   3.889                 19248               5.67
4                     100000   4.036                366898               5.00
..                       ...     ...                   ...                ...
953                        2   3.999                 21307              11.00
954                        2   4.303                   693              16.00
955                        1   3.598                   378               2.72
956                        1   3.956                  1134              14.00
957                        1   4.007                  1380              11.00

     meanretailprices  averagediscount  meandiscount  meanproductratingscount
0                20.0               54          54.0                     8836  \
1                34.2               61          61.0                     4010
2                 8.0               -1          -1.0                     5531
3                19.0               71          71.0                    18393
4                33.0               85          85.0                    13789
..                ...              ...           ...                      ...
953              10.0              -10         -10.0                        1
954              16.0                0           0.0                        0
955               9.0               70          70.0                        0
956              14.0                0           0.0                        0
957              30.0               64          64.0                        0

     totalurgencycount  urgencytextrate
0                  1.0             50.0
1                  3.0             60.0
2                  NaN              NaN
3                  1.0            100.0
4                  NaN              NaN
..                 ...              ...
953                NaN              NaN
954                NaN              NaN
955                NaN              NaN
956                NaN              NaN
957                NaN              NaN

[958 rows x 14 columns]>

In [9]:
df.columns

Index(['index', 'merchantid', 'listedproducts', 'totalunitssold',
       'meanunitssoldperproduct', 'rating', 'merchantratingscount',
       'meanproductprices', 'meanretailprices', 'averagediscount',
       'meandiscount', 'meanproductratingscount', 'totalurgencycount',
       'urgencytextrate'],
      dtype='object')

In [10]:
df.describe()

,index,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
count,958.000000,958.000000,958.000000,958.000000,958.000000,9.580000e+02,958.000000,958.000000,958.000000,958.000000,958.000000,391.000000,391.000000
mean,478.500000,1.641962,7124.483299,4407.605428,4.043994,2.202045e+04,8.634906,24.802265,28.721294,28.698017,922.538622,1.209719,65.572890
std,276.695079,1.246183,14363.521893,9167.077812,0.222137,8.473232e+04,3.987599,30.258719,39.918708,39.914269,1925.750178,0.583542,28.476426
min,0.000000,1.000000,1.000000,1.000000,2.333000,0.000000e+00,1.000000,1.000000,-18.000000,-18.000000,0.000000,1.000000,14.000000
25%,239.250000,1.000000,100.000000,100.000000,3.931000,1.373000e+03,6.000000,7.000000,-10.000000,-10.000000,31.000000,1.000000,50.000000
50%,478.500000,1.000000,1000.000000,1000.000000,4.055500,5.990500e+03,8.000000,11.000000,16.000000,16.000000,210.500000,1.000000,50.000000
75%,717.750000,2.000000,10000.000000,5000.000000,4.190000,1.723850e+04,11.000000,28.875000,71.000000,71.000000,920.750000,1.000000,100.000000
max,957.000000,15.000000,120000.000000,100000.000000,5.000000,2.174765e+06,49.000000,252.000000,97.000000,97.000000,20744.000000,6.000000,100.000000

In [11]:
df.T # Transpose

,0,1,2,3,4,5,6,7,8,9,...,948,949,950,951,952,953,954,955,956,957
index,0,1,2,3,4,5,6,7,8,9,...,948,949,950,951,952,953,954,955,956,957
merchantid,5357bcf2bb72c5504882e889,5708773c3c02161b3f8c7900,5417aada4ad3ab27e954b76c,570f3a713a698c14278bb51e,53082ea15aefb07dfe1f2a4f,53f2beb39020ee03566d6e18,5926c5ace8ff5525241b368d,5860c757b1e41d4d67d183e8,52bd3ddb34067e4620a4c62d,5a7b23a69bda4e3d375e7b3f,...,574d559cb06e205d099d9107,5db248327c0d0800c24fc084,54365c349719cd57af2b449b,581c54c4dd99164b808ca531,564d8f2f3a698c01d97fbb81,567bad8582c35f28103e5813,5b24edf0d1c360301099e9c6,5d417e7070327a2743021677,5add589edb5f1f32114d07df,5d4b8931933fb13f8a1fe232
listedproducts,2,5,2,1,1,1,7,4,3,5,...,1,1,1,1,1,1,1,1,1,1
totalunitssold,120000,107100,100007,100000,100000,100000,96000,90100,80000,80000,...,10,10,8,7,3,2,2,1,1,1
meanunitssoldperproduct,60000,21420,50004,100000,100000,100000,13714,22525,26667,16000,...,10,10,8,7,3,2,2,1,1,1
rating,4.219,3.934,4.053,3.889,4.036,4.067,4.139,4.049,4.104,3.966,...,4.501,4.513,3.949,4.249,3.991,3.999,4.303,3.598,3.956,4.007
merchantratingscount,320031,139223,108048,19248,366898,330405,55499,151249,839882,12974,...,2038,160,53225,6348,11378,21307,693,378,1134,1380
meanproductprices,9.0,7.76,8.0,5.67,5.0,5.77,6.69,3.43,7.22,8.4,...,18.0,5.68,7.0,8.0,4.81,11.0,16.0,2.72,14.0,11.0
meanretailprices,20.0,34.2,8.0,19.0,33.0,48.0,6.29,3.75,14.67,7.8,...,59.0,5.0,31.0,55.0,30.0,10.0,16.0,9.0,14.0,30.0
averagediscount,54,61,-1,71,85,88,-4,11,33,-7,...,70,-13,78,86,84,-10,0,70,0,64
meandiscount,54.0,61.0,-1.0,71.0,85.0,88.0,-3.86,11.0,33.33,-6.8,...,70.0,-13.0,78.0,86.0,84.0,-10.0,0.0,70.0,0.0,64.0
meanproductratingscount,8836,4010,5531,18393,13789,20744,2250,6290,6136,2093,...,6,2,0,1,0,1,0,0,0,0
totalurgencycount,1.0,3.0,NaN,1.0,NaN,NaN,1.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
urgencytextrate,50.0,60.0,NaN,100.0,NaN,NaN,14.0,50.0,33.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.sort_index(ascending=False)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
957,957,5d4b8931933fb13f8a1fe232,1,1,1,4.007,1380,11.00,30.0,64,64.0,0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1,3.956,1134,14.00,14.0,0,0.0,0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1,3.598,378,2.72,9.0,70,70.0,0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2,4.303,693,16.00,16.0,0,0.0,0,NaN,NaN
953,953,567bad8582c35f28103e5813,1,2,2,3.999,21307,11.00,10.0,-10,-10.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000,4.036,366898,5.00,33.0,85,85.0,13789,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000,3.889,19248,5.67,19.0,71,71.0,18393,1.0,100.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004,4.053,108048,8.00,8.0,-1,-1.0,5531,NaN,NaN
1,1,5708773c3c02161b3f8c7900,5,107100,21420,3.934,139223,7.76,34.2,61,61.0,4010,3.0,60.0
0,0,5357bcf2bb72c5504882e889,2,120000,60000,4.219,320031,9.00,20.0,54,54.0,8836,1.0,50.0