In [50]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [51]:
# import the dataset
df = pd.read_csv("googleplaystore.csv")

In [52]:
# run autometic eda using ydata_profiling library
#import ydata_profiling as yd
#profiling = yd.ProfileReport(df)

#profiling.to_file(output_file="04_googleplaystore_eda_kaggle.html")

In [53]:
# check this data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
 13  Unnamed: 13     0 non-null      float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.2+ MB

In [54]:
# lets have a looks on a dataset
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN

In [55]:
# take sample from big dataset
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
8586,Camping and Co - Camping in Europe,TRAVEL_AND_LOCAL,3.7,19,6.5M,"1,000+",Free,0,Everyone,Travel & Local,"April 17, 2018",1.2.3,4.1 and up,NaN
6062,BM Wallet,FINANCE,4.2,798,29M,"50,000+",Free,0,Everyone,Finance,"January 3, 2018",1.0.46,4.0 and up,NaN
7787,cx-33wifi,FAMILY,4.4,63,7.6M,"10,000+",Free,0,Everyone,Entertainment,"November 14, 2015",1.4,2.2 and up,NaN
8709,Tricky Bike Stunt Rider DX,FAMILY,4.4,16,45M,500+,Free,0,Everyone,Simulation;Education,"July 29, 2018",1.1.1,4.0 and up,NaN
6037,Verdad o Reto,SOCIAL,3.8,826,5.1M,"500,000+",Free,0,Teen,Social,"May 10, 2018",2.0,4.1 and up,NaN
6805,WiseBanyan - Invest For Free,FINANCE,4.2,257,44M,"10,000+",Free,0,Everyone,Finance,"July 31, 2018",2.2.12,4.4W and up,NaN
7146,X-Plane to GPS,TOOLS,4.2,161,1.2M,"5,000+",Paid,$0.99,Everyone,Tools,"March 4, 2018",1.62,4.4 and up,NaN
3833,Hotels Combined - Cheap deals,TRAVEL_AND_LOCAL,4.1,17202,12M,"5,000,000+",Free,0,Everyone,Travel & Local,"November 13, 2017",4.9.2,4.1 and up,NaN
5541,HPlus,HEALTH_AND_FITNESS,2.9,1786,5.9M,"100,000+",Free,0,Everyone,Health & Fitness,"June 12, 2018",3.5.2,4.4 and up,NaN
556,DINO HUNTER: DEADLY SHORES,GAME,4.4,1381820,54M,"10,000,000+",Free,0,Teen,Action,"March 14, 2017",3.1.1,3.0 and up,NaN

In [56]:
df.describe()

            Rating       Reviews  Unnamed: 13
count  9367.000000  1.084100e+04          0.0
mean      4.191513  4.441119e+05          NaN
std       0.515735  2.927629e+06          NaN
min       1.000000  0.000000e+00          NaN
25%       4.000000  3.800000e+01          NaN
50%       4.300000  2.094000e+03          NaN
75%       4.500000  5.476800e+04          NaN
max       5.000000  7.815831e+07          NaN

# Assignment: write down all the numeric variables and make them numeric
1. size
2. install
3. price

In [57]:
# To do that lets have a look on unique values
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
976k                     1
8.5k                     1
221k                     1
371k                     1
1020k                    1
Name: count, Length: 461, dtype: int64

# check that how many MBs are there in one kB? and how to calculate
1. Convert KBs into M
2. Then remove M from all numbers
3. Handle `varies with device`

In [58]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 13'],
      dtype='object')

In [59]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,FQ India,LIFESTYLE,NaN,0,8.9M,10+,Free,0,Everyone,Lifestyle,"July 31, 2018",7.2.2,4.1 and up,NaN
10837,Miss FQ,NEWS_AND_MAGAZINES,NaN,0,36M,10+,Free,0,Everyone,News & Magazines,"April 5, 2018",3.8,4.4 and up,NaN
10838,Word Search Tab 1 FR,FAMILY,NaN,0,1020k,50+,Paid,$1.04,Everyone,Puzzle,"February 6, 2012",1.1,3.0 and up,NaN
10839,PLMGSS FR,PRODUCTIVITY,NaN,0,3.1M,10+,Free,0,Everyone,Productivity,"December 1, 2017",1,4.4 and up,NaN
10840,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up,NaN

In [60]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
976k                     1
8.5k                     1
221k                     1
371k                     1
1020k                    1
Name: count, Length: 461, dtype: int64

In [61]:
# So check this missing values in size column
df['Size'].isnull().sum()

0

do it as numeric column or group that into different group following bining method

# How to Dealing with Price column

In [62]:
df['Price'].value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$19.40         1
$3.08          1
$379.99        1
$2.56          1
$1.04          1
Name: count, Length: 92, dtype: int64

In [63]:
# check this missing values in price column
df['Price'].isnull().sum()

0

Remove $ sign from all columns using pandas

In [64]:
df['Installs'].unique()

array(['1,000+', '1,000,000,000+', '100,000,000+', '500,000,000+',
       '50,000,000+', '10,000,000+', '5,000,000+', '1,000,000+',
       '500,000+', '100,000+', '50,000+', '10,000+', '5,000+', '500+',
       '100+', '10+', '50+', '5+', '1+', '0+', '0'], dtype=object)

In [65]:
df['Installs'] = df['Installs'].str.split('+').str[0]  # Remove the + sign
df['Installs'].replace(',', '', regex=True, inplace=True)  # Remove the commas '.' in the install column
df['Installs'] = df['Installs'].astype(int)  # Convert the install column to integer

C:\Users\Kashif\AppData\Local\Temp\ipykernel_19736\979426842.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Installs'].replace(',', '', regex=True, inplace=True)  # Remove the commas '.' in the install column

In [66]:
df['Installs'].unique()

array([      1000, 1000000000,  100000000,  500000000,   50000000,
         10000000,    5000000,    1000000,     500000,     100000,
            50000,      10000,       5000,        500,        100,
               10,         50,          5,          1,          0])

In [67]:
df['Size'].unique()

array(['3.0M', 'Varies with device', '98M', '76M', '97M', '74M', '40M',
       '52M', '14M', '15M', '88M', '24M', '85M', '94M', '99M', '63M',
       '92M', '17M', '62M', '71M', '70M', '34M', '95M', '67M', '58M',
       '100M', '59M', '53M', '96M', '16M', '26M', '41M', '9.9M', '51M',
       '32M', '11M', '55M', '60M', '79M', '69M', '42M', '77M', '57M',
       '82M', '75M', '36M', '3.3M', '68M', '22M', '7.6M', '50M', '33M',
       '7.4M', '89M', '18M', '25M', '78M', '46M', '49M', '9.7M', '37M',
       '72M', '39M', '87M', '6.1M', '5.1M', '28M', '29M', '61M', '7.1M',
       '48M', '21M', '35M', '54M', '12M', '56M', '3.8M', '8.7M', '91M',
       '27M', '45M', '66M', '31M', '4.7M', '8.2M', '43M', '13M', '47M',
       '20M', '80M', '6.6M', '3.1M', '6.5M', '9.1M', '30M', '7.9M',
       '4.2M', '44M', '4.4M', '93M', '8.9M', '83M', '3.5M', '73M', '90M',
       '9.8M', '19M', '9.2M', '64M', '1.5M', '5.2M', '23M', '5.3M',
       '2.5M', '10M', '2.7M', '2.1M', '86M', '4.9M', '2.9M', '9.0M',
       '8.4M', '7.3M', '3.7M', '6.7M', '5.0M', '4.0M', '8.1M', '6.0M',
       '2.8M', '8.3M', '1.8M', '4.6M', '6.3M', '8.5M', '38M', '3.9M',
       '1.4M', '4.3M', '4.1M', '84M', '6.9M', '1.9M', '1.2M', '9.4M',
       '9.5M', '8.8M', '81M', '5.4M', '6.4M', '3.2M', '7.5M', '65M',
       '4.5M', '525k', '1.6M', '5.7M', '5.6M', '624k', '9.6M', '695k',
       '79k', '7.0M', '2.3M', '2.0M', '551k', '2.6M', '6.2M', '5.9M',
       '8.6M', '5.8M', '2.2M', '544k', '853k', '2.4M', '7.2M', '4.8M',
       '7.7M', '865k', '232k', '6.8M', '3.6M', '3.4M', '7.8M', '1.3M',
       '9.3M', '41k', '176k', '8.0M', '5.5M', '208k', '540k', '1.7M',
       '50k', '872k', '860k', '173k', '10.0M', '351k', '982k', '11k',
       '373k', '253k', '713k', '118k', '847k', '93k', '696k', '1.1M',
       '364k', '201k', '292k', '72k', '592k', '17k', '609k', '656k',
       '318k', '23k', '266k', '756k', '467k', '585k', '818k', '192k',
       '953k', '103k', '716k', '948k', '779k', '20k', '485k', '209k',
       '778k', '58k', '241k', '33k', '1.0M', '582k', '350k', '746k',
       '190k', '404k', '196k', '643k', '91k', '73k', '720k', '411k',
       '387k', '383k', '552k', '70k', '323k', '309k', '444k', '61k',
       '809k', '556k', '837k', '175k', '704k', '314k', '903k', '288k',
       '597k', '420k', '29k', '965k', '161k', '562k', '920k', '526k',
       '930k', '306k', '122k', '676k', '313k', '914k', '25k', '74k',
       '454k', '153k', '785k', '647k', '714k', '193k', '203k', '160k',
       '626k', '976k', '8.5k', '221k', '371k', '811k', '899k', '730k',
       '78k', '116k', '219k', '957k', '48k', '816k', '170k', '144k',
       '375k', '257k', '784k', '226k', '240k', '442k', '26k', '141k',
       '400k', '45k', '429k', '27k', '143k', '980k', '782k', '598k',
       '924k', '335k', '939k', '459k', '601k', '414k', '322k', '812k',
       '787k', '329k', '412k', '691k', '334k', '951k', '499k', '728k',
       '54k', '470k', '417k', '18k', '28k', '186k', '259k', '245k',
       '430k', '506k', '51k', '270k', '879k', '842k', '619k', '34k',
       '554k', '353k', '986k', '251k', '881k', '862k', '916k', '24k',
       '857k', '280k', '473k', '239k', '437k', '206k', '228k', '14k',
       '721k', '887k', '121k', '772k', '600k', '975k', '478k', '44k',
       '283k', '954k', '545k', '82k', '801k', '210k', '200k', '376k',
       '317k', '496k', '994k', '963k', '523k', '246k', '157k', '67k',
       '293k', '743k', '460k', '164k', '754k', '942k', '500k', '613k',
       '775k', '220k', '608k', '378k', '717k', '516k', '169k', '780k',
       '992k', '749k', '658k', '81k', '308k', '39k', '458k', '89k',
       '234k', '902k', '629k', '636k', '861k', '569k', '840k', '511k',
       '498k', '892k', '319k', '55k', '97k', '961k', '108k', '154k',
       '238k', '705k', '981k', '970k', '655k', '172k', '421k', '683k',
       '514k', '237k', '663k', '921k', '874k', '885k', '475k', '549k',
       '904k', '243k', '191k', '222k', '913k', '898k', '269k', '642k',
       '940k', '688k', '518k', '1020k'], dtype=object)

In [68]:
df['Size'] = df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else  x)

In [69]:
df['Size'] = df['Size'].apply(lambda x: float(str(x).replace('k', ''))/1000 if 'k' in str(x) else  x)

In [70]:
df['Size'] = df['Size'].apply(lambda x: str(x).replace(',', '.') if ',' in str(x)    else  x)

In [74]:
df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else  x)

In [75]:
# Conversion Data Gbs to MB
df['Size'] = df['Size'].apply(lambda x: (str(x).replace('G', ''))/1000 if 'G' in str(x) else  x)

In [76]:
df['Size'] = df['Size'].apply(lambda x: float(x))

In [77]:
df.dtypes['Size']

dtype('float64')

In [78]:
df['Size'].unique()

array([3.00e+00,      nan, 9.80e+01, 7.60e+01, 9.70e+01, 7.40e+01,
       4.00e+01, 5.20e+01, 1.40e+01, 1.50e+01, 8.80e+01, 2.40e+01,
       8.50e+01, 9.40e+01, 9.90e+01, 6.30e+01, 9.20e+01, 1.70e+01,
       6.20e+01, 7.10e+01, 7.00e+01, 3.40e+01, 9.50e+01, 6.70e+01,
       5.80e+01, 1.00e+02, 5.90e+01, 5.30e+01, 9.60e+01, 1.60e+01,
       2.60e+01, 4.10e+01, 9.90e+00, 5.10e+01, 3.20e+01, 1.10e+01,
       5.50e+01, 6.00e+01, 7.90e+01, 6.90e+01, 4.20e+01, 7.70e+01,
       5.70e+01, 8.20e+01, 7.50e+01, 3.60e+01, 3.30e+00, 6.80e+01,
       2.20e+01, 7.60e+00, 5.00e+01, 3.30e+01, 7.40e+00, 8.90e+01,
       1.80e+01, 2.50e+01, 7.80e+01, 4.60e+01, 4.90e+01, 9.70e+00,
       3.70e+01, 7.20e+01, 3.90e+01, 8.70e+01, 6.10e+00, 5.10e+00,
       2.80e+01, 2.90e+01, 6.10e+01, 7.10e+00, 4.80e+01, 2.10e+01,
       3.50e+01, 5.40e+01, 1.20e+01, 5.60e+01, 3.80e+00, 8.70e+00,
       9.10e+01, 2.70e+01, 4.50e+01, 6.60e+01, 3.10e+01, 4.70e+00,
       8.20e+00, 4.30e+01, 1.30e+01, 4.70e+01, 2.00e+01, 8.00e+01,
       6.60e+00, 3.10e+00, 6.50e+00, 9.10e+00, 3.00e+01, 7.90e+00,
       4.20e+00, 4.40e+01, 4.40e+00, 9.30e+01, 8.90e+00, 8.30e+01,
       3.50e+00, 7.30e+01, 9.00e+01, 9.80e+00, 1.90e+01, 9.20e+00,
       6.40e+01, 1.50e+00, 5.20e+00, 2.30e+01, 5.30e+00, 2.50e+00,
       1.00e+01, 2.70e+00, 2.10e+00, 8.60e+01, 4.90e+00, 2.90e+00,
       9.00e+00, 8.40e+00, 7.30e+00, 3.70e+00, 6.70e+00, 5.00e+00,
       4.00e+00, 8.10e+00, 6.00e+00, 2.80e+00, 8.30e+00, 1.80e+00,
       4.60e+00, 6.30e+00, 8.50e+00, 3.80e+01, 3.90e+00, 1.40e+00,
       4.30e+00, 4.10e+00, 8.40e+01, 6.90e+00, 1.90e+00, 1.20e+00,
       9.40e+00, 9.50e+00, 8.80e+00, 8.10e+01, 5.40e+00, 6.40e+00,
       3.20e+00, 7.50e+00, 6.50e+01, 4.50e+00, 5.25e-01, 1.60e+00,
       5.70e+00, 5.60e+00, 6.24e-01, 9.60e+00, 6.95e-01, 7.90e-02,
       7.00e+00, 2.30e+00, 2.00e+00, 5.51e-01, 2.60e+00, 6.20e+00,
       5.90e+00, 8.60e+00, 5.80e+00, 2.20e+00, 5.44e-01, 8.53e-01,
       2.40e+00, 7.20e+00, 4.80e+00, 7.70e+00, 8.65e-01, 2.32e-01,
       6.80e+00, 3.60e+00, 3.40e+00, 7.80e+00, 1.30e+00, 9.30e+00,
       4.10e-02, 1.76e-01, 8.00e+00, 5.50e+00, 2.08e-01, 5.40e-01,
       1.70e+00, 5.00e-02, 8.72e-01, 8.60e-01, 1.73e-01, 3.51e-01,
       9.82e-01, 1.10e-02, 3.73e-01, 2.53e-01, 7.13e-01, 1.18e-01,
       8.47e-01, 9.30e-02, 6.96e-01, 1.10e+00, 3.64e-01, 2.01e-01,
       2.92e-01, 7.20e-02, 5.92e-01, 1.70e-02, 6.09e-01, 6.56e-01,
       3.18e-01, 2.30e-02, 2.66e-01, 7.56e-01, 4.67e-01, 5.85e-01,
       8.18e-01, 1.92e-01, 9.53e-01, 1.03e-01, 7.16e-01, 9.48e-01,
       7.79e-01, 2.00e-02, 4.85e-01, 2.09e-01, 7.78e-01, 5.80e-02,
       2.41e-01, 3.30e-02, 1.00e+00, 5.82e-01, 3.50e-01, 7.46e-01,
       1.90e-01, 4.04e-01, 1.96e-01, 6.43e-01, 9.10e-02, 7.30e-02,
       7.20e-01, 4.11e-01, 3.87e-01, 3.83e-01, 5.52e-01, 7.00e-02,
       3.23e-01, 3.09e-01, 4.44e-01, 6.10e-02, 8.09e-01, 5.56e-01,
       8.37e-01, 1.75e-01, 7.04e-01, 3.14e-01, 9.03e-01, 2.88e-01,
       5.97e-01, 4.20e-01, 2.90e-02, 9.65e-01, 1.61e-01, 5.62e-01,
       9.20e-01, 5.26e-01, 9.30e-01, 3.06e-01, 1.22e-01, 6.76e-01,
       3.13e-01, 9.14e-01, 2.50e-02, 7.40e-02, 4.54e-01, 1.53e-01,
       7.85e-01, 6.47e-01, 7.14e-01, 1.93e-01, 2.03e-01, 1.60e-01,
       6.26e-01, 9.76e-01, 8.50e-03, 2.21e-01, 3.71e-01, 8.11e-01,
       8.99e-01, 7.30e-01, 7.80e-02, 1.16e-01, 2.19e-01, 9.57e-01,
       4.80e-02, 8.16e-01, 1.70e-01, 1.44e-01, 3.75e-01, 2.57e-01,
       7.84e-01, 2.26e-01, 2.40e-01, 4.42e-01, 2.60e-02, 1.41e-01,
       4.00e-01, 4.50e-02, 4.29e-01, 2.70e-02, 1.43e-01, 9.80e-01,
       7.82e-01, 5.98e-01, 9.24e-01, 3.35e-01, 9.39e-01, 4.59e-01,
       6.01e-01, 4.14e-01, 3.22e-01, 8.12e-01, 7.87e-01, 3.29e-01,
       4.12e-01, 6.91e-01, 3.34e-01, 9.51e-01, 4.99e-01, 7.28e-01,
       5.40e-02, 4.70e-01, 4.17e-01, 1.80e-02, 2.80e-02, 1.86e-01,
       2.59e-01, 2.45e-01, 4.30e-01, 5.06e-01, 5.10e-02, 2.70e-01,
       8.79e-01, 8.42e-01, 6.19e-01, 3.40e-02, 5.54e-01, 3.53e-01,
       9.86e-01, 2.51e-01, 8.81e-01, 8.62e-01, 9.16e-01, 2.40e-02,
       8.57e-01, 2.80e-01, 4.73e-01, 2.39e-01, 4.37e-01, 2.06e-01,
       2.28e-01, 1.40e-02, 7.21e-01, 8.87e-01, 1.21e-01, 7.72e-01,
       6.00e-01, 9.75e-01, 4.78e-01, 4.40e-02, 2.83e-01, 9.54e-01,
       5.45e-01, 8.20e-02, 8.01e-01, 2.10e-01, 2.00e-01, 3.76e-01,
       3.17e-01, 4.96e-01, 9.94e-01, 9.63e-01, 5.23e-01, 2.46e-01,
       1.57e-01, 6.70e-02, 2.93e-01, 7.43e-01, 4.60e-01, 1.64e-01,
       7.54e-01, 9.42e-01, 5.00e-01, 6.13e-01, 7.75e-01, 2.20e-01,
       6.08e-01, 3.78e-01, 7.17e-01, 5.16e-01, 1.69e-01, 7.80e-01,
       9.92e-01, 7.49e-01, 6.58e-01, 8.10e-02, 3.08e-01, 3.90e-02,
       4.58e-01, 8.90e-02, 2.34e-01, 9.02e-01, 6.29e-01, 6.36e-01,
       8.61e-01, 5.69e-01, 8.40e-01, 5.11e-01, 4.98e-01, 8.92e-01,
       3.19e-01, 5.50e-02, 9.70e-02, 9.61e-01, 1.08e-01, 1.54e-01,
       2.38e-01, 7.05e-01, 9.81e-01, 9.70e-01, 6.55e-01, 1.72e-01,
       4.21e-01, 6.83e-01, 5.14e-01, 2.37e-01, 6.63e-01, 9.21e-01,
       8.74e-01, 8.85e-01, 4.75e-01, 5.49e-01, 9.04e-01, 2.43e-01,
       1.91e-01, 2.22e-01, 9.13e-01, 8.98e-01, 2.69e-01, 6.42e-01,
       9.40e-01, 6.88e-01, 5.18e-01, 1.02e+00])

| Social Media | Link |
|--------------|------|
| Facebook     | <a href="https://www.facebook.com/" style="color: #3b5998;">Facebook</a> |
| Twitter      | <a href="https://twitter.com/" style="color: #1da1f2;">Twitter</a> |
| Instagram    | <a href="https://www.instagram.com/" style="color: #c13584;">Instagram</a> |
| LinkedIn     | <a href="https://www.linkedin.com/" style="color: #0077b5;">LinkedIn</a> |
| YouTube      | <a href="https://www.youtube.com/" style="color: #ff0000;">YouTube</a> |

<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
</style>

| Social Media | Link |
|--------------|------|
| Facebook     | <a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a> |
| Twitter      | <a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a> |
| Instagram    | <a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a> |
| LinkedIn     | <a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a> |
| YouTube      | <a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a> |


<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000:}
  .medium  { background-color: #12100c; color: white;}
  
  
</style>

<table>
  <tr>
    <th>Social Media</th>
    <th>Link</th>
  </tr>
  <tr>
    <td class="facebook" style="color: white;">Facebook</td>
    <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
  </tr>
  <tr>
    <td class="twitter" style="color: white;">Twitter</td>
    <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
  </tr>
  <tr>
    <td class="instagram" style="color: white;">Instagram</td>
    <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
  </tr>
  <tr>
    <td class="linkedin" style="color: white;">LinkedIn</td>
    <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
  </tr>
  <tr>
    <td class="youtube" style="color: white;">YouTube</td>
    <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
  </tr>
  <tr>
    <td class ="medium" style="color: white;">Medium Blog</td>
    <td><a href="https://medium.com/@juliannatali" class="medium"> Medium Blog</a></td>
  </tr>
</table>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Social Media Links</title>
<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
</style>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>Social Media</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Facebook</td>
      <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
    </tr>
    <tr>
      <td>Instagram</td>
      <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
    </tr>
    <tr>
      <td>LinkedIn</td>
      <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
    </tr>
    <tr>
      <td>YouTube</td>
      <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
    </tr>
  </tbody>
</table>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Social Media Links</title>
<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
  .medium  { background-color: #12100c; color: white; }
  .email   { background-color: #60bd63; }
  /* Ensuring link fills entire cell */
  table td a { display: block; width: 100%; height: 100%; }
</style>
</head>
<body>

<table>
  <tr>
    <th>Social Media</th>
    <th>Link</th>
  </tr>
  <tr>
    <td class="facebook" style="color: white;">Facebook</td>
    <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
  </tr>
  <tr>
    <td class="twitter" style="color: white;">Twitter</td>
    <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
  </tr>
  <tr>
    <td class="instagram" style="color: white;">Instagram</td>
    <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
  </tr>
  <tr>
    <td class="linkedin" style="color: white;">LinkedIn</td>
    <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
  </tr>
  <tr>
    <td class="youtube" style="color: white;">YouTube</td>
    <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
  </tr>
  <tr>
    <td class="medium" style="color: white;">Medium Blog</td>
    <td><a href="https://medium.com/@juliannatali" class="medium">Medium Blog</a></td>
  </tr>
  <tr>
    <td class="email" style="color: white;">Email Mail</td>
    <td><a href="mailto:<umarmehmood885@gmail.com>" class="email" style="color: white;">Email Mail</a></td>
  </tr>
</table>

</body>
</html>

<h1 style="color: #FF9900;">Data Science Exploration</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Height</td>
    <td>200px</td>
  </tr>
  <tr>
    <td>Width</td>
    <td>300px</td>
  </tr>
</table>

<h1 style="color: blue;">Data Science Exploration</h1>

<table>
  <tr><th>Name</th><td>John Doe</td></tr>
  <tr><th>Age</th><td>32</td></tr>
  <tr><th rowspan=2>Country of Residence<br/>(with multiple lines)</th><td>United States of America</td></tr>

<h1 style="color: #FF9900; background-color: #334445;">Data Science Exploration</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 50px; width: 500px; background-color: blue;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; min-height: 100px; min-width: 500px; background-color: blue;">
  <h1 style="color: #FF9900;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; min-height: 50px; min-width: 200px; background-color: blue;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 50px; width: 500px; background-color: blue;  background-repeat: repeat;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>