In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# import the dataset
df = pd.read_csv("googleplaystore.csv")

In [3]:
# run autometic eda using ydata_profiling library
#import ydata_profiling as yd
#profiling = yd.ProfileReport(df)

#profiling.to_file(output_file="04_googleplaystore_eda_kaggle.html")

In [4]:
# check this data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
 13  Unnamed: 13     0 non-null      float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.2+ MB

In [5]:
# lets have a looks on a dataset
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN

In [6]:
# take sample from big dataset
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
894,ai.type Free Emoji Keyboard,PERSONALIZATION,4.3,647844,Varies with device,"10,000,000+",Free,0,Everyone,Personalization,"July 24, 2018",Varies with device,Varies with device,NaN
2868,My Telcel,TOOLS,3.1,45838,16M,"50,000,000+",Free,0,Everyone,Tools,"July 25, 2018",7.6.1,4.1 and up,NaN
9692,Jeppesen CR Flight Computer,MAPS_AND_NAVIGATION,3.3,3,26M,100+,Paid,$9.99,Everyone,Maps & Navigation,"October 5, 2016",1.0.8,4.4 and up,NaN
9146,SCI-Ex,HEALTH_AND_FITNESS,3.5,8,7.9M,"1,000+",Free,0,Everyone,Health & Fitness,"June 28, 2018",1.0060.b0060,5.0 and up,NaN
1769,Mafia City,GAME,4.5,168717,56M,"10,000,000+",Free,0,Mature 17+,Strategy,"August 3, 2018",1.3.205,2.3 and up,NaN
9158,J. Cole Albums (2007-2017),FAMILY,4.6,7,7.3M,"1,000+",Free,0,Mature 17+,Entertainment,"April 11, 2018",1.3,4.0.3 and up,NaN
507,The Weather Channel: Rain Forecast & Storm Alerts,WEATHER,4.4,1558437,Varies with device,"50,000,000+",Free,0,Everyone,Weather,"August 1, 2018",Varies with device,Varies with device,NaN
1121,NQ Mobile Security & Antivirus,PRODUCTIVITY,4.4,427185,Varies with device,"10,000,000+",Free,0,Teen,Productivity,"June 8, 2018",Varies with device,Varies with device,NaN
9560,Lyrics of Ek Paheli Leela,FAMILY,5.0,4,2.3M,500+,Free,0,Everyone,Entertainment,"April 23, 2016",1.0,4.0 and up,NaN
7190,Burger King Foot Lettuce,FAMILY,4.4,150,5.9M,"10,000+",Free,0,Everyone,Entertainment,"June 11, 2018",1.07,4.0 and up,NaN

In [7]:
df.describe()

            Rating       Reviews  Unnamed: 13
count  9367.000000  1.084100e+04          0.0
mean      4.191513  4.441119e+05          NaN
std       0.515735  2.927629e+06          NaN
min       1.000000  0.000000e+00          NaN
25%       4.000000  3.800000e+01          NaN
50%       4.300000  2.094000e+03          NaN
75%       4.500000  5.476800e+04          NaN
max       5.000000  7.815831e+07          NaN

# Assignment: write down all the numeric variables and make them numeric
1. size
2. install
3. price

In [8]:
# To do that lets have a look on unique values
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
976k                     1
8.5k                     1
221k                     1
371k                     1
1020k                    1
Name: count, Length: 461, dtype: int64

# check that how many MBs are there in one kB? and how to calculate
1. Convert KBs into M
2. Then remove M from all numbers
3. Handle `varies with device`

In [9]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Unnamed: 13'],
      dtype='object')

In [10]:
df['Size_MB'].value_counts()

KeyError: 'Size_MB'

In [ ]:
df

    Size   Size_MB
0  100KB  0.097656
1    2MB  2.000000
2  500KB  0.488281
3  1.5MB  1.500000

In [ ]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
976k                     1
8.5k                     1
221k                     1
371k                     1
1020k                    1
Name: count, Length: 461, dtype: int64

In [ ]:
# So check this missing values in size column
df['Size'].isnull().sum()

0

do it as numeric column or group that into different group following bining method

# How to Dealing with Price column

In [ ]:
df['Price'].value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$19.40         1
$3.08          1
$379.99        1
$2.56          1
$1.04          1
Name: count, Length: 92, dtype: int64

In [ ]:
# check this missing values in price column
df['Price'].isnull().sum()

0

Remove $ sign from all columns using pandas

In [ ]:
df['Price'] = df['Price'].str.replace('$','')
df['Price'] = pd.to_numeric(df['Price'])


df['Price'].value_counts()

Price
0.00      10041
0.99        148
2.99        129
1.99         73
4.99         72
          ...
19.40         1
3.08          1
379.99        1
2.56          1
1.04          1
Name: count, Length: 92, dtype: int64

In [ ]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0.0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Varies with device,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN

In [ ]:
df['Size'] = df['Size'].str.replace('Varies with device','Nan')


df['Size'].value_counts()

Size
Nan      1695
11M       198
12M       196
14M       194
13M       191
         ...
976k        1
8.5k        1
221k        1
371k        1
1020k       1
Name: count, Length: 461, dtype: int64

In [ ]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0.0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Nan,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Nan,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Nan,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Nan,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN

In [ ]:
df['Size'] = df['Size'].str.replace('KB','MB')
df['Size'].value_counts()

Size
Nan      1695
11M       198
12M       196
14M       194
13M       191
         ...
976k        1
8.5k        1
221k        1
371k        1
1020k       1
Name: count, Length: 461, dtype: int64

In [ ]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Life Made WI-Fi Touchscreen Photo Frame,NaN,1.9,19,3.0M,"1,000+",Free,0.0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
1,Facebook,SOCIAL,4.1,78158306,Nan,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
2,Facebook,SOCIAL,4.1,78128208,Nan,"1,000,000,000+",Free,0.0,Teen,Social,"August 3, 2018",Varies with device,Varies with device,NaN
3,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Nan,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN
4,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Nan,"1,000,000,000+",Free,0.0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,NaN

In [11]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
10836,FQ India,LIFESTYLE,NaN,0,8.9M,10+,Free,0,Everyone,Lifestyle,"July 31, 2018",7.2.2,4.1 and up,NaN
10837,Miss FQ,NEWS_AND_MAGAZINES,NaN,0,36M,10+,Free,0,Everyone,News & Magazines,"April 5, 2018",3.8,4.4 and up,NaN
10838,Word Search Tab 1 FR,FAMILY,NaN,0,1020k,50+,Paid,$1.04,Everyone,Puzzle,"February 6, 2012",1.1,3.0 and up,NaN
10839,PLMGSS FR,PRODUCTIVITY,NaN,0,3.1M,10+,Free,0,Everyone,Productivity,"December 1, 2017",1,4.4 and up,NaN
10840,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up,NaN

| Social Media | Link |
|--------------|------|
| Facebook     | <a href="https://www.facebook.com/" style="color: #3b5998;">Facebook</a> |
| Twitter      | <a href="https://twitter.com/" style="color: #1da1f2;">Twitter</a> |
| Instagram    | <a href="https://www.instagram.com/" style="color: #c13584;">Instagram</a> |
| LinkedIn     | <a href="https://www.linkedin.com/" style="color: #0077b5;">LinkedIn</a> |
| YouTube      | <a href="https://www.youtube.com/" style="color: #ff0000;">YouTube</a> |

<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
</style>

| Social Media | Link |
|--------------|------|
| Facebook     | <a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a> |
| Twitter      | <a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a> |
| Instagram    | <a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a> |
| LinkedIn     | <a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a> |
| YouTube      | <a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a> |


<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000:}
  .medium  { background-color: #12100c; color: white;}
  
  
</style>

<table>
  <tr>
    <th>Social Media</th>
    <th>Link</th>
  </tr>
  <tr>
    <td class="facebook" style="color: white;">Facebook</td>
    <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
  </tr>
  <tr>
    <td class="twitter" style="color: white;">Twitter</td>
    <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
  </tr>
  <tr>
    <td class="instagram" style="color: white;">Instagram</td>
    <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
  </tr>
  <tr>
    <td class="linkedin" style="color: white;">LinkedIn</td>
    <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
  </tr>
  <tr>
    <td class="youtube" style="color: white;">YouTube</td>
    <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
  </tr>
  <tr>
    <td class ="medium" style="color: white;">Medium Blog</td>
    <td><a href="https://medium.com/@juliannatali" class="medium"> Medium Blog</a></td>
  </tr>
</table>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Social Media Links</title>
<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
</style>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>Social Media</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Facebook</td>
      <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
    </tr>
    <tr>
      <td>Instagram</td>
      <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
    </tr>
    <tr>
      <td>LinkedIn</td>
      <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
    </tr>
    <tr>
      <td>YouTube</td>
      <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
    </tr>
  </tbody>
</table>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Social Media Links</title>
<style>
  .facebook { background-color: #3b5998; }
  .twitter { background-color: #1da1f2; }
  .instagram { background-color: #c13584; }
  .linkedin { background-color: #0077b5; }
  .youtube { background-color: #ff0000; }
  .medium  { background-color: #12100c; color: white; }
  .email   { background-color: #60bd63; }
  /* Ensuring link fills entire cell */
  table td a { display: block; width: 100%; height: 100%; }
</style>
</head>
<body>

<table>
  <tr>
    <th>Social Media</th>
    <th>Link</th>
  </tr>
  <tr>
    <td class="facebook" style="color: white;">Facebook</td>
    <td><a href="https://www.facebook.com/" class="facebook" style="color: white;">Facebook</a></td>
  </tr>
  <tr>
    <td class="twitter" style="color: white;">Twitter</td>
    <td><a href="https://twitter.com/" class="twitter" style="color: white;">Twitter</a></td>
  </tr>
  <tr>
    <td class="instagram" style="color: white;">Instagram</td>
    <td><a href="https://www.instagram.com/" class="instagram" style="color: white;">Instagram</a></td>
  </tr>
  <tr>
    <td class="linkedin" style="color: white;">LinkedIn</td>
    <td><a href="https://www.linkedin.com/" class="linkedin" style="color: white;">LinkedIn</a></td>
  </tr>
  <tr>
    <td class="youtube" style="color: white;">YouTube</td>
    <td><a href="https://www.youtube.com/" class="youtube" style="color: white;">YouTube</a></td>
  </tr>
  <tr>
    <td class="medium" style="color: white;">Medium Blog</td>
    <td><a href="https://medium.com/@juliannatali" class="medium">Medium Blog</a></td>
  </tr>
  <tr>
    <td class="email" style="color: white;">Email Mail</td>
    <td><a href="mailto:<umarmehmood885@gmail.com>" class="email" style="color: white;">Email Mail</a></td>
  </tr>
</table>

</body>
</html>

<h1 style="color: #FF9900;">Data Science Exploration</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Height</td>
    <td>200px</td>
  </tr>
  <tr>
    <td>Width</td>
    <td>300px</td>
  </tr>
</table>

<h1 style="color: blue;">Data Science Exploration</h1>

<table>
  <tr><th>Name</th><td>John Doe</td></tr>
  <tr><th>Age</th><td>32</td></tr>
  <tr><th rowspan=2>Country of Residence<br/>(with multiple lines)</th><td>United States of America</td></tr>

<h1 style="color: #FF9900; background-color: #334445;">Data Science Exploration</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 50px; width: 500px; background-color: blue;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; min-height: 100px; min-width: 500px; background-color: blue;">
  <h1 style="color: #FF9900;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; min-height: 50px; min-width: 200px; background-color: blue;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 50px; width: 500px; background-color: blue;  background-repeat: repeat;">
  <h1 style="color: #FF9900; font-size: 20px; min-width: 0;">Data Science Exploration</h1>
</div>