In [1]:
# import libraries

import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# create a dataset
df = pd.DataFrame({"water": np.repeat(['daily', 'weekly'], 15),
                   'sun': np.tile(np.repeat(['low', 'medium', 'high'], 5),2),
                   'height': [6,6,6,6,7,7,8,9,4,3,
                              4,6,7,3,8,9,3,2,1,6,
                              8,5,4,1,2,3,4,5,8,6]})
df.sample(10)

     water     sun  height
5    daily  medium       7
17  weekly     low       2
19  weekly     low       6
14   daily    high       8
15  weekly     low       9
25  weekly    high       3
22  weekly  medium       4
24  weekly  medium       2
27  weekly    high       5
2    daily     low       6

In [21]:
sns.boxplot(df['sun'], df['height'])

TypeError: boxplot() takes from 0 to 1 positional arguments but 2 were given

In [19]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ANOVA
model = ols('height ~ sun', data=df).fit()
sm.stats.anova_lm(model, typ=2)

              sum_sq    df         F    PR(>F)
sun         0.466667   2.0  0.040671  0.960203
Residual  154.900000  27.0       NaN       NaN

In [22]:
# Tow Way ANOVA
model = ols('height ~ C(sun) + C(water) + C(sun):C(water)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                     sum_sq    df         F    PR(>F)
C(sun)             0.466667   2.0  0.042296  0.958657
C(water)          17.633333   1.0  3.196375  0.086437
C(sun):C(water)    4.866667   2.0  0.441088  0.648447
Residual         132.400000  24.0       NaN       NaN

In [ ]:
# Another way of