In [1]:
import numpy as np 
import seaborn as sns 
import pandas as pd 
import matplotlib.pyplot as plt 
# import data set       
kashti = sns.load_dataset('titanic')
phool  = sns.load_dataset('iris')

In [2]:
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
np.cov(kashti['age'], kashti['fare'])

array([[          nan,           nan],
       [          nan, 2469.43684574]])

In [4]:
# python code to demonstrate the 
# use of numpy .cov
import numpy as np

x = [1.23, 2.12, 3.34, 4.5]
y = [2.56, 2.89, 3.76, 3.95]

# find out covariance with respect to columns
cov_mat = np.stack((x,y), axis=0)
cov_mat
print(np.cov(cov_mat))

[[2.03629167 0.9313    ]
 [0.9313     0.4498    ]]

In [5]:
kashti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [6]:
kashti.corr()

ValueError: could not convert string to float: 'male'

In [7]:
kashti.corr(method='pearson')

ValueError: could not convert string to float: 'male'

In [8]:
sns.regplot(kashti['adult_male'], kashti['alone'], data = kashti)

TypeError: regplot() got multiple values for argument 'data'

In [9]:
sns.regplot(phool['sepal_length'], phool['petal_length'], data = phool)

TypeError: regplot() got multiple values for argument 'data'

In [10]:
# apply corr function
corr = kashti.corr(method='pearson') # for normal data
# heat map
sns.heatmap(corr, annot=True)

ValueError: could not convert string to float: 'male'

In [11]:
corr.style.background_gradient(map='coolwarm')

NameError: name 'corr' is not defined

In [12]:
sns.pairplot(corr)

NameError: name 'corr' is not defined