# How to import dataset in python using pandas library
written by: Umar Mehmood\
Data: 23-4-2023\
Email: umarmehmood885@gmai.com

In [4]:
# Step-1
# importing library
import pandas as pd

In [3]:
pd.DataFrame({})

NameError: name 'pd' is not defined

In [4]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------ 250.0/250.0 kB 613.2 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [6]:
# Step-2
# reading/importing dataset
df.to_excel("pandas_01_day6 (1).xlsx")

In [5]:
df = pd.read_excel("pandas_01_day6 (1).xlsx")
df

   height weight favourite_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]